<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Blog</title>

    <link rel="stylesheet" href="/bootstrap.min.css">       <!-- https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css -->
</head>

<body>
    <div class="container">
        <h1 class="mb-4">New Article</h1>

        <form action="/articles" method="POST">
            <%- include('partials/form-fields') %>
        </form>
    </div>
</body>

</html>